.footer
  background-color $background
  padding 9px 0 6px
  text-align center
  font-size .9em
  font-size .9rem

  &__link
    text-decoration none
    color $text
    &:hover
      text-decoration underline
