<section class="interface">

  <!-- input section -->
  <form name="coinForm" class="input-section" novalidate ng-submit="submit(pennies)">
    <label class="input-section__text" for="amount">Enter monetary value for coin conversion.</label>
    <input id="amount"
           class="input-section__field"
           name="pennies"
           ng-model="pennies"
           ng-change="clearResults()"
           type="text" />
    <button type="submit" class="input-section__button">Convert</button>
  </form>

  <!-- results section-->
  <div ng-show="errorMessage === null" class="results">
    <div class="results__info">Converting {{ penniesFiltered }} pennies into coins.</div>

    <!-- table -->
    <div class="results__table-wrapper">
      <table class="results__table">
        <tr>
          <th>Coin</th>
          <th>Amount</th>
        </tr>
        <tr ng-repeat="coin in coins" ng-if="coin.amount !== 0">
          <td>{{ coin.nominal }}</td>
          <td>{{ coin.amount }}</td>
        </tr>
      </table>
    </div>

  </div>

  <!-- errors section -->
  <div ng-show="errorMessage" class="results error">
    {{ errorMessage }}
  </div>

</section>
