$background = #CCCCFF
$text = #001F89

.container
  max-width 1000px
  margin 100px auto 0
  padding 0 20px

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your stylus files automatically */
// injector
// endinjector
